@import url(//fonts.googleapis.com/css?family=Indie+Flower);
.icon {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
right: 1%;
  top: 30%;
  /* make sure it it rotated enough; angle of rotation = angle of the sector itself */
  transform: rotate(60deg);
  
  /* style further as needed */
  color: darken($base, 60%);
  font-family: inherit;
 /* font-size: 25px;*/
}

.menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 30px auto;
  width: 70%;
  height: 0;
  padding-top: 70%;
}
.menu a{
  color: #fff;
  font-weight: 400;
  font-size: 15px!important;
}
@media all and (max-width: 320px) {
  .menu {
   width: 250px;
height: 250px;

    padding: 0;
  }
}
@media all and (min-width: 700px) {

  .menu {

width: 355px;
height: 355px;





    padding: 0;
  }
}
.menu li { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  clip-path: url(#sector);
  /* try this one in Chrome/Opera/Safari */
  /* clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%); */
  

  
  /*&:hover {
    background-color: #000;
  }*/
}


.one {
  background-color: #57C6A3;;
  transform: rotate(0deg);
}
.two {
  background-color: #4F9BAF;
  transform: rotate(-60deg);
}
.three {
  background-color: #33743D;
  transform: rotate(-120deg);
}
.four {
  background-color:#CC6AC7;
  transform: rotate(-180deg);
}
.five {
  background-color: #EC8F26;
  transform: rotate(-240deg);
}
.six {
  background-color: #92AF4F;
  transform: rotate(-300deg);
}

.dropdown-submenu {
  position: relative;
}
.bg-img-ab {
  background-image: url(../images/test1.png);
  background-size: cover;
  padding: 4em 0;
}
.bg-1 {
  background-image: url(../images/test3.jpg);
  background-size: cover;
  padding: 4em 0;
}
.imag-style ul li{
  list-style-image: url('../images/star.png');
  margin-top: 5px;
 font-size: 19px;
font-family: initial;

}
.text-d{
   text-align: center;
  color: #333;
  font-style: oblique;
 font-size: 35px;
  font-weight: 800;
  text-shadow: 2px 2px gray;
}
.text-d1{
  text-align: center;
  color: #fff;
  font-style: oblique;
 font-size: 40px;
  font-weight: 800;
  font-family: cursive;
  margin-top: -52px;
}



.know
{
  background: #fff;
  padding: 10px;
  text-align: center;
  
  border-bottom: 1px solid;
  font-weight: 700;
}
.know a
{
  text-decoration: none;
  cursor:pointer;
}
.cor {
  padding: 10px;
  font-size: 19px;
  margin: 14px;
  text-align: center;
}
.my-3
{
  text-align: center;
  padding: 15px;
  /*background: #fff7b5;*/
  background: #fff7b51a;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;

}
.det
{
 background:#efefefe6;
 padding: 10px;
 margin-bottom: 30px;
}
.det p
{
  line-height: 28px;
  text-align: justify;
  font-size: 15px;
  padding: 10px;
  background: #ffffff;
}
.img3
{
  width: 100%;
  padding: 10px;
  background: #fff;
  margin-bottom: 20px;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}





.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-top: 30px;

}
.abt3
{
  background-image: url(../images/abt3.jpg); 
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;

}
.filter-button
{
 font-size: 16px;
 text-align: center;
 color: #0b4900;
 margin: 8px;
 padding: 15px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
  background-color: #42B32F;
  color: white;
}

.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
}

.img2
{
      width: 100%;
      display: none;
}


.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:#7e8c05;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}







.about-one-wrap {
    width: 100%;
    background-image: url(../images/blue-portion.jpg);
    position: relative;
    margin-top: 0px;
    padding-top: 30px;
    background-size: cover;
}
.img1
{
  width: 100%;
}

.cli
{
 background:url(../images/cli.png)  no-repeat;
}
.border-line {
  background: url(../images/line.jpg) center center no-repeat;
  height: 40px;
  /* background: #ccc; */
}
.border-line2 {
/*  background: url(../images/line2.png) center center no-repeat;
*/  height: 40px;
  /* background: #ccc; */
}
.about-one-wrap .about-one-con {
  margin: auto;
  padding: 65px;
  height: auto;
  color: #fff;
  text-align: justify;
  line-height: 30px;
  background: #00000040;
}
.about-one-wrap .about-one-block h2 {
  margin: 0px 0 10px;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.about-one-wrap .about-one-block {
  float: left;
  width: 550px;
}
.about-one-wrap .about-one-img {
  float: right;
  margin: -82px 0px;
  height: 400px;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
 font-family: 'Arimo', sans-serif;
 font-size: 100%;
 background: #F4F7F9;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  font-family: 'Dosis', sans-serif;
  
}

/*-- header --*/
/*-- w3layouts --*/
/*-- agile-info --*/
.header{
  position:relative;
}
/*-- top-header --*/
.top-header-left{
  float: left;
  width: 50%;
}
.top-header-left p{
  color: #d4d720;
  font-size: .7em;
  margin: 0.5em 0 0 19em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-header{
  background: #353535;
  padding: .7em 0;
}
.top-header-right{
  float:right;
  width:25%;
}
.top-header-right-info{
  float:left;
}
.top-header-right-info ul {
  padding:0;
  margin:0;
}
.top-header-right-info ul li{
  display:inline-block;
  margin:0 1em;
}
.top-header-right-info ul li a {
  color: #909090;
  font-size: .7em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.top-header-right-info ul li a:hover{
  text-decoration:none;
  color:#9E1616;
}
.social-icons{
  float:left;
}
.social-icons ul{
  padding:0;
  margin:0;
}
.social-icons ul li{
  display:inline-block;
}
.social-icons ul li a.twitter{
  color: #FFF;
  font-size: 1em;
  margin: 0 .5em;
}
.social-icons ul li a.twitter:hover{
  color:#55acee;
}
.social-icons ul li a.facebook:hover{
  color:#3b5998;
}
.social-icons ul li a.google:hover{
  color:#dc4e41;
}
/*-- //top-header --*/
.bottom-header {
  background: #FFF;
}
.top-nav{
  background:#FFF;
}
.navbar-default {
  border: none !important;
  background: none !important;
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none !important;
}
div#bs-example-navbar-collapse-1 {
  padding: 0;
}
.top-nav ul {
  padding: 0;
  margin: 0 0 0 250px;
  float: none;
}
.top-nav ul li{
  display: inline-block;
  margin: 0;
  float: left;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #fff9c1;
  /* border-right: solid 1px #EFEFEF; */
  box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);

}
.top-nav ul li a{
  color: #353535 !important;
  font-size: 16px;
  font-family: 'Francois One', sans-serif;
  margin: 0;
  text-decoration: none;
  padding: 30px;
  border-right: solid 1px #EFEFEF;
  box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
.top-nav ul li a:hover{
  color: #9E1616 !important;
}
.top-nav ul li a.active{
 color: #5d9700 !important;
 font-weight: 700;
}
.caret {
  margin-left: 14px;
}
ul.dropdown-menu {
  background: #FFF;
  box-shadow: 0 0 0;
  border: none;
  margin: 0;
  top: 6em;
  left: 0;
  min-width: 107px;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 44px !important;
  clear: both;
  margin: .3em 0 !important;
  font-weight: normal;
  line-height: 1.42857143;
  color: #000 !important;
  border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: none;
}
.dropdown-submenu {
  position: relative;
}
/*-- w3layouts --*/
/*-- agile-info --*/
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 103%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.logo h1 {
  margin: 0;
}
.logo{
  position: absolute;
  top: 0;
  width: 170px;
  z-index: 999;
}
.logo h1 a {
  display:block;
}

/*-- banner --*/
.banner{
  background: url(../images/2.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 10em 0 13em;
}
.slider {
  position: relative;
}
.slider h2{
  color:#FFF;
  font-size:2em;
  margin:0;
  text-align:center;
}
.border{
  height: 2px;
  background: #FFF;
  width: 4%;
  margin: 22px auto 0;
}
.slider-info {
  text-align: center;
  margin: 6em 0 0 0;
}
.slider-info h3{
 font-size: 2em;
 text-shadow: 0px 0px 11px #000;
 color: #FFF;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: 6px;
}
.slider-info p{
  color: #E8E8E8;
  font-size: 1em;
  margin: 1em 0 0 0;
}
.more-button a{
  border: solid 2px #FFF;
  color: #FFF;
  font-size: 1em;
  padding: .5em 3em;
  text-decoration: none;
  letter-spacing: 1px;
}
.more-button {
  margin: 7em 0 1em 0;
} 
.more-button a:hover{
  background: #9E1616;
  border: solid 2px #FFF;
}
/*-- w3layouts --*/
/*-- agile-info --*/
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 2px;
  width: 45px;
  margin-top: 0;
  background: #FFF;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  right:0;
  background-position: right top;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
  width:100px;
  height:15px;
  background:#fff;
  display:inline-block;
  border-radius:30em;
  opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
  display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
  background-size: contain;
    height:500px;
 background-repeat: no-repeat;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 120%;
  z-index: 999;
  right: 48%;
  padding: 0;
  margin: 0;
}
.slider-top{
  text-align: center;
  padding:10em 0;
}
.slider-top h1{
  font-weight:700;
  font-size:48px;
  color:#010101;
}
.slider-top p{
  font-weight:400;
  font-size:20px;
  padding:1em 7em;
  color:#010101;
}
.slider-top ul.social-slide{
  display:inline-flex;
  margin: 0px;
  padding: 0px;
}
ul.social-slide li i{
  width:70px;
  height:74px;
  background:url(../images/img-resources.png)no-repeat;
  display: inline-block;
  margin:0px 15px;
}
ul.social-slide li i.win{
  background-position:-6px 0px;
}
ul.social-slide li i.android{
  background-position:-110px 0px;
}
ul.social-slide li i.mac{
  background-position:-215px 0px;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .2em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  visibility: visible;
  display: block;
  height: 6px;
  width: 6px;
  background: #C1C1C1;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  height: 12px;
  width: 12px;
} 
ul.callbacks_tabs.callbacks2_tabs {
  top: 73%;
}
ul.callbacks_tabs.callbacks2_tabs li {
  display: inline-block;
  margin: 0 .5em;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
  background: #25575a!important;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
  border: none;
}
.icon-box {
  padding: 8px 15px;
  background: rgba(149, 149, 149, 0.18);
  margin: 1em 0 1em 0;
  border: 5px solid #f9f9f9;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor: pointer;
}
ul.bs-glyphicons-list {
  padding: 0;
}
/*--w3l-agile--*/
/*--w3l-agile-info-*/
.icon-box:hover i.fa {
  color: #fff !important;
}
.icon-box i {
  margin-right: 10px !important;
  font-size: 20px !important;
  color: #282a2b !important;
}

.icon-box:hover {
  background: #000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.icons a {
  color: #999;
}
.bs-glyphicons li {
  float: left;
  width: 18%;
  height: 115px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  font-size: 12px;
  list-style-type: none;
  background: rgba(149, 149, 149, 0.18);
  margin: 1%;
}
.bs-glyphicons li .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #282a2b;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
/*-- banner-bottom --*/
.banner-bottom{
  position: absolute;
  top: 53em;
  left: 13%;  
}
.banner-bottom-left{
  background: url(../images/5.jpg) no-repeat 0px 0px #9E1616;
  background-size: cover;
  padding: 2em;

}
.banner-bottom-right{
  background: url(../images/4.jpg) no-repeat 0px 0px #D2D4D4 !important;
  background-size: cover;
}
.left-border{
  border: solid 5px #FFF;
  height: 200px;
}
.left-border-info {
 position: absolute;
 top: 22%;
 left: 16%;
 width: 31%;
}
.left-border-info p{
 color: #FFF;
 font-size: 1.8em;
 margin: 0;
 font-family: 'Dosis', sans-serif;
 text-transform: uppercase;

}
/*-- information --*/
.information{
  padding:30px; 
}
.information-heading{
  text-align:center;
}
.information-heading h3,.popular-heading h3{
 text-transform: uppercase;
 font-weight: 300;
 letter-spacing: 3px;
 font-size: 2em;
}
.information-heading p,.popular-heading p,.about-heading p,.codes-heading  p,.gallery-heading p,.blog-heading p,.contact-heading p{
 font-size: 1em;
 margin: 2em auto 0;
 /* width: 80%; */
 line-height: 1.8em;
 text-align: justify;
}
.information-grids {
  margin: 5em 0 0 0;
}
.information-grid-img img{
  width:100%;
}
.information-grid-info {
  padding: 2em;
  background: #FFF;
}
.information-grid-info h4,.team-grid h4{
 color: #578d00;
 font-size: 20px;
 margin: 0;
 text-align: center;
 text-transform: uppercase;
}
.information-grid-info p,.team-grid p{
  font-size: .875em;
  color: #777;
  margin: 1em 0 0 0;
  line-height: 1.8em;
}
.information-info{
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
/*-- popular --*/
.popular{
  padding: 20px;
  background: url(../images/test.png);
  position: relative;
}
.popular-heading h3{
  color:#97d800;
}
.popular-heading p{
  color:#000; 
}
.popular-slide {
  margin: 4em 0 0 0;
}
.popular-slide-info{
  background: url(../images/12.jpg) no-repeat 0px -0px;
  background-size: cover;
  min-height: 400px;
  text-align: center; 
}
.popular-slide-info h4{
  color: #FFF;
  font-size: 6em;
  padding: 1em 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}
.popular-slide-info p{
  font-size: .875em;
  color: #FFF;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 50%;
}
.popular-slide1{
  background: url(../images/10.jpg) no-repeat 0px -0px;
  background-size: cover;
  min-height: 400px;
  text-align: center; 
}
.popular-slide2{
  background: url(../images/11.jpg) no-repeat 0px -0px;
  background-size: cover;
  min-height: 400px;
  text-align: center; 
}
.popular-grids{
  margin: 5em 0 0 0;
}
.popular-grid h5{
  color: #ffec09;
  font-size: 1.5em;
  margin: 0;
}
.popular-grid p{
 font-size: .875em;
 height: 200px;
 color: #ffffff;
 padding-right: 20px;
 line-height: 1.8em;
 text-align: justify;
 margin: 2em 0 0 0;
 border-right: 1px solid;
}
/*-- footer --*/
.footer{
  padding: 4em 0;
  background: #e6ffbf;
}
.footer-nav h4{
 color: #9E1616 !important;
 font-size: 20px;
 margin: 0 0 1em 0;
 text-transform: uppercase;
 font-weight: 300;
 letter-spacing: 2px;
}
.footer-nav ul{
  padding:0;
  margin:0;
}
.footer-nav ul li{
  display:block;
  margin:1em 0;
}
.footer-nav ul li a{
  color: #353535;
  font-size: 1em;
}
.footer-nav ul li a:hover{
  color:#9E1616;
  text-decoration:none;
}
.footer-nav p{
  font-size: .875em;
  color: #353535;
  margin: 0;
  line-height: 1.8em;
}
.footer-nav form{
  margin:1em 0 0 0;
}
.footer-nav form input[type="email"]:focus{
  outline: none;
}
.footer-nav form input[type="email"] {
  background: #fff;
  box-shadow: none !important;
  padding: 10px 23px;
  color: #282828;
  font-size: .875em;
  width: 100% !important;
  font-weight: 400;
  border: 1px solid #ebebeb;
  margin: 0 0 1em 0;
}
.footer-nav form input[type="submit"] {
  border: solid 2px #353535;
  color: #353535;
  font-size: .875em;
  padding: .5em 2em;
  text-decoration: none;
  letter-spacing: 1px;
  background: none;
}
.footer-nav form input[type="submit"]:hover {
  color:#9E1616;
  border: solid 2px #9E1616;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.news-grid h6{
  color: #37767a;
  font-size: .875em;
  margin:0 0 1.5em 0;
}
.news-grid h6 a{
  color: #353535;
}
.news-grid h6 a:hover{
  color:#9E1616;
  text-decoration:none;
}

.copyright p{
  font-size: .875em;
  color: #c3ff63;
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #474747;
}
.copyright p a{
  color: #fff;
}
.copyright p a:hover{
  color: #9E1616;
  text-decoration:none;
}
/*-- wthree--*/
/*-- agile-its --*/
/*-- about --*/
.about,.codes,.gallery,.blog,.contact,.login{
  padding: 4em 0 0 0;
  background: #F9F9F9;
}
.about-heading {
  text-align: center;
}
.about-heading h2,.codes-heading h2,.gallery-heading h2,.blog-heading h2,.contact-heading h2{
  color: #ffffff;
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.about-bottom{
  margin:2em 0;
}
.about-bottom img{
  width:100%;
}
.about-bottom p{
  font-size: .875em;
  color: #353535;
  margin: 2em 0 0 0;
  line-height: 1.8em;
}
.team{
  padding: 4em 0;
  background: #ffffff;
}
.team-heading{
  text-align:center;
}
.team-grid{
  margin:2em 0 0 0;
}
.team-grid img{
  width:100%;
}
.team-grid h4{
  color: #108c01;
  margin: 1em 0 0 0;
}
.team-grid p{
  color:#000;
}
.team-icons{
  float:none;
  margin:1em 0 0 0;
}
/*-- wthree--*/
/*-- agile-its --*/
/*--Shortcodes--*/
.codes-heading {
  text-align: center;
}
h3.hdg {
  font-size: 2.5em;
  color:#000 !important;
}
.show-grid [class^=col-] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
  margin-bottom:2em;
}
.xs h3, h3.m_1{
  color:#000;
  font-size:1.7em;
  font-weight:300;
  margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
  background:none;
  margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
  background:none;
  padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
  margin-bottom:1em;
  color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
.in-gp-tl{
  padding:0;
}
.in-gp-tb{
  padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
  margin: 0 0 10px;
}
@media (max-width:768px){
  .grid_5 {
   padding: 0 0 1em;
 }
 .grid_3 {
   margin-bottom: 0em;
 }
}
@media (max-width:640px){
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: .5em;
  }
  .progress {
    height: 10px;
    margin-bottom: 10px;
  }
  ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
    font-size: 14px;
  }
  .breadcrumb {
    margin-bottom: 10px;
  }
  .well {
    font-size: 14px;
    margin-bottom: 10px;
  }
  h2.typoh2 {
    font-size: 1.5em;
  }
  .grid_4 {
    margin-top: 30px;
  }
}
@media (max-width:480px){
  #slider2 li, #slider3 li{
      height: 180px !important;
    background-position: center;
    background-size: cover;
    }
  .table h1 {
    font-size: 26px;
  }
  .table h2 {
    font-size: 23px;
  }
  .table h3 {
    font-size: 20px;
  }
  .label {
    font-size: 53%;
  }
  .alert,p {
    font-size: 14px;
  }
  .pagination {
    margin: 20px 0 0px;
  }
}
@media (max-width: 320px){

  #slider2 li, #slider3 li{
      height: 180px !important;
    background-position: center;
    background-size: cover;
    }
  .grid_4 {
    margin-top: 18px;
  }
  .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
    font-size: 14px;
  }
  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  ul.pagination li a {
    font-size: 14px;
    padding: 5px 11px !important;
  }
  .list-group {
    margin-bottom: 10px;
  }
  .well {
    padding: 10px;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.81em;
  }
  .table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px 0!important;
  }
  .codes .row {
    margin: 0;
  }
}
/*--//Shortcodes--*/
/*-- gallery --*/
.gallery {
  padding: 0;
  background-image: url(../images/gal.jpg);
}
.gallery-heading{
  text-align:center;
}
.gallery-grids {
  margin: 10em 0 0 0;
}
.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  height: auto;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  border: 1px solid #ccc;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h3 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;
  text-align: left;
  font-size: 1.5em;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05,1.05,1);
  height: 200px;
  transform: scale3d(1.05,1.05,1);
  object-fit: contain;
}

figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-apollo h2 {
  text-align: left;
}

figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/*-- wthree--*/
/*-- agile-its --*/
/*-- blog --*/
.blog {
  padding:5em 0;
}
.blog-heading{
  background: #fff;
  text-align: center;
}
.blog-top-grids {
  margin: 30px 0px 0px 0px;
}
.blog-left {
  margin: 0em 0 2em 0;
  padding-right: 1em;
}
.blog-left-right {
  margin-top: 1em;
}
.blog-left-right a{
  font-size: 1.2em;
  margin: 0 0 .5em 0;
  color: #353535;
  text-decoration: none;
  letter-spacing: 1px;
}
.blog-left-right a:hover{
  text-decoration: none;
  color: #37767A;
}
.blog-left-left {
  padding: 0 !important;
}
.blog-left-left p{
  margin: 0 0 1em;
  font-size: .9em;
  color: #555555;
}
.blog-left-left p a {
  color: #9E1616;
  text-decoration: none;
}
.blog-left-left p a:hover{
  color:#37767A;
}
.blog-left-left a img{
  width: 100%;
  border: 1px solid #949494;
  padding: 10px;
  border-radius: 10px;
}
.blog-left-right p{
  font-size: .9em;
  margin: 0.5em 0;
  color: #353535;
  line-height: 1.8em;
}
ul.pagination {
  margin: 2em 0 0;
}
.blog-top-right-grid {
  padding-right: 0 !important;
}
.Categories {
  margin:0;
}
.Categories h3{
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding-bottom: .5em;
  color: #02b97e;
}
.Categories ul{
  margin:0;
  padding:0;
}
.Categories ul li{
 display: block;
 background: url(../images/arrow.png) no-repeat 0px 2px;
 margin-bottom: 8px;
 margin-right: 15px;
}
.Categories ul li a{
  font-size: .875em;
  margin: 0;
  color: #353535;
  padding-left: 2em;
}
.team p {

 margin: auto;
 padding: 15px;
 height: auto;
 color: #000;
 text-align: justify;
 line-height: 30px;
}
.Categories ul li a:hover{
  color: #9E1616;
  text-decoration: none;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.comments{
  margin: 4em 0;
}
.comments h3{
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding-bottom: .5em;
  color: #9E1616;
}
.comments-left{
  padding: .5em;
  border: 1px solid #000000;
}
.comments-left img{
  width:100%;
}
.comments-right h5{
  font-size: 1em;
  margin: 0 0 .5em 0;
  color: #9E1616;
  letter-spacing: 1px;
}
.comments-right a{
  font-size: 1em;
  margin: 0;
  color: #575353;
  text-decoration: none;
}
.comments-right a:hover{
  text-decoration:none;
}
.comments-right p{
  display: block;
  color: #37767A;
  margin: .3em 0 0 0;
  font-size: .8em;
}
.comments-text {
  padding: 1.5em 0;
  border-bottom: 1px solid #868686;
}
.comments-text:nth-child(4) {
  border: none;
}
.pagination > li > a, .pagination > li > span{
  color:#353535;
  background-color: #F4F7F9;
}
/*-- single --*/
.single-left-left p{
  margin: 0 0 1em;
  font-size: .9em;
  font-weight: 500;
  color: #555555;
}
.single-left-left p a {
  color: #9E1616;
  text-decoration: none;
}
.single-left-left p a:hover{
  color:#37767A;
}
.single-left-left img{
  width:100%;
}
.left-single{
  padding-right: 2em;
}
.response {
  margin-bottom: 5em;
}
.response h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  color: #9E1616;

}
.media.response-info {
  margin-top: 3em;
}
.media-left.response-text-left {
  width: 13%;
  float: left;
}
.media-left.response-text-left a img {
  width: 80%;
}
.media-left.response-text-left h5 a {
  color: #37767A;
}
.media-left.response-text-left h5 a:hover {
  color: #9E1616;
  text-decoration:none;
}
.response-text-left h5 {
  font-size: 1em;
  margin: 1em 0 0 0;
  color: #000;
}
.response-text-right p {
  color: #353535;
  font-size: .9em;
  margin: 0 0 1em;
  line-height: 1.8em;
}
.response-text-right ul {
  padding: 0;
  text-align: right;
}
.response-text-right ul li {
  display: inline-block;
  color: #AFAFAF;
  font-size: .9em;
  margin-right: 1em;
}
.response-text-right ul li a {
  color: #9E1616;
  font-size: .9em;
  text-decoration: none;
}
.response-text-right ul li a:hover {
  color: #37767A;
}
.media.response-info {
  margin-top: 3em;
}
.opinion h2{
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding-bottom: .5em;
  color: #9E1616;
}
.opinion form input[type="text"] {
  width: 100%;
  color: #898888;
  outline: none;
  font-size: 1em;
  padding: .5em;
  margin: 0 .5em 1em 0;
  border: solid 1px #D5D4D4;
  -webkit-appearance: none;
}
.opinion form textarea {
  resize: none;
  width: 100%;
  color: #898888;
  font-size: 1em;
  outline: none;
  resize:none;
  padding: .5em;
  border: solid 1px #D5D4D4;
  min-height: 125px;
  -webkit-appearance: none;
}
.opinion form input[type="submit"] {
  border: none;
  outline: none;
  color: #A8A8A8;
  background: none;
  font-size: 1em;
  margin: .6em 0;
  -webkit-appearance: none;
}
.opinion form input[type="submit"]:hover {
  color:#9E1616;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.blog-left-bottom p{
  font-size: .9em;
  margin: 0.5em 0;
  color: #353535;
  line-height: 1.8em;
}
.blog-left-bottom {
  margin: .5em 0;
}
/*-- w3-agile--*/
/*-- agile-info --*/
/*-- contact --*/
.contact-heading{
  text-align: center;
}
.contact h4 {
  color: #9E1616;
  font-size: 1.2em;
  margin: 0 0 1em;
}
.map {
  margin-top: 3em;
}
.map iframe {
  width: 100%;
  height: 353px;
  border: none;
}
.address {
  background: #ffffff8c;
 /* margin: 20px 0 0;*/
/*  padding: 25px;
*/  height: 300px;
  box-shadow: 0px 6px 11px #000;
}
.address-grids {
 padding-top: 7px;
/* border: 1px solid #0000004f;*/
 text-align: center;
 height: 140px;
}
.address h4 {
  margin: 0 0 .5em;
  color: #aa0101;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px dotted #818181;
}
.contact-infom {
 margin: 4em 0;
}
.address p {
  margin: 0 0 .3em 0;
  font-size: 15px;
  color: #353535;
  line-height: 1.8em;
}
.address ul{
  padding:0;
  margin:0;
}
.address ul li{
  display: inline-block;
}
.address a {
  color: #353535;
font-size: 17px;
  letter-spacing: 1px;
  transition: .5s all;

}
.address a:hover {
  color:#37767A;
  text-decoration: none;
}
.contact-infom p {
  margin: 0;
 font-size: 17px;
  color: #353535;
  line-height: 1.8em;
}
.contact-form {
  background: #ffffff8c;
  margin: 20px 0 0;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 11px #000;
}


.contact-form input[type="text"] {
 display: inline-block;
 background: #fff;
 border: 1px solid #767675;
 width: 100%;
 outline: none;
 padding: 10px 15px 10px 15px;
 font-size: .9em;
 color: #111111;
 margin-bottom: 10px;
}
.contact-form input[type="email"] {
  display: inline-block;
 background: #fff;
 border: 1px solid #767675;
 width: 100%;
 outline: none;
 padding: 10px 15px 10px 15px;
 font-size: .9em;
 color: #111111;
 margin-bottom: 10px;
}
.contact-form textarea {
 background: #fff;
 border: 1px solid #767675;
 width: 100%;
 display: block;
 height: 150px;
 outline: none;
 font-size: 0.9em;
 color: #111111;
 resize: none;
 padding: 10px 15px 10px 15px;
 margin-bottom: 1em;
}
button.btn1.btn-1.btn-1b {
  color: #FFF;
  border: none;
  background: #9E1616;
  padding: .5em 1.5em;
  font-size: 1em;
  outline: none;
}
button.btn1.btn-1.btn-1b:hover {
  color: #fff;
  background: #37767A;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
/*-- login --*/
.login{
  padding: 0;
  background: #fff;
}
.login-bg{
  background: url(../images/l4.jpg) no-repeat 0px 0px;
  background-size: cover;
  padding: 7em 0;
}
.login-body{
  width: 40%;
  margin:0 auto;
}
.login-heading{
  background: #37767A;
  padding: 3em 0em;
}
.login-heading h1{
  color: #FFFFFF;
  font-size: 2em;
  text-align:center;
}
.login-info{
  padding: 4em 1.5em 1em;
  background: #FFFFFF;
}
.login-info input[type="text"], .login-info input[type="password"] {
  font-size: 0.9em;
  padding: 10px 0px;
  width: 100%;
  color: #A8A8A8;
  outline: none;
  border: 1px solid #D3D3D3;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #FFFFFF;
  margin: 0em 0em 1.5em 0em;
}
.login-info input[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #37767A ;
  width: 100%;
  padding: .5em 1em;
  font-size: 1em;
  margin: 1.5em 0 0;
}
.login-info input[type="submit"]:hover{
  background:#9E1616;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all ;
  -ms-transition: 0.5s all;
}
.forgot-top-grids {
  margin-top: 2em;
}
.login-info label.checkbox {
  margin-left: 1.3em;
  margin-top: 0;
  font-size: 1em;
  color: #555;
  display: inline-block;
  cursor: pointer;
}
.forgot {
  float: right;
  margin-top: .3em;
}
.forgot a {
  font-size: .75em;
  color: #9E1616;
  display: block;
  text-transform: uppercase;
}
.forgot a:hover{
  color:#37767A;
  text-decoration:none;
}
.login-copyright{
  margin:3em 0 0 0;
}
.login-copyright p{
  text-align:center;
}
.signup-text{
  margin: 2em 0 0 0;
  text-align: center;
}
.signup-text a{
  font-size: .75em;
  color: #9E1616;
  display: block;
  text-transform: uppercase;
}
.signup-text a:hover{
  color: #37767A;
  text-decoration: none;
}
.login-info h2{
  color: #999;
  font-size:.875em;
  margin:1em 0;
  text-align:center;
}
.login-icons ul {
  text-align:center;
  margin:0;
  padding:0;
}
.login-icons ul li{
  display: inline-block;
  margin: 0 1em;
}
.login-icons ul li a{
  display:block;
}
.login-icons i.fa.fa-facebook ,.login-icons i.fa.fa-twitter,.login-icons i.fa.fa-google-plus,.login-icons i.fa.fa-dribbble {
  font-size: 1.5em;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background: #3b5998;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.login-icons i.fa.fa-twitter{
  background:#55acee;
}
.login-icons i.fa.fa-google-plus{
  background:#dc4e41;
}
.login-icons i.fa.fa-dribbble{
  background:#ea4c89;
}
.forgot-grid{
  float:left;
}
.forgot-grid ul {
  margin: 0;
  padding: 0;
}
.forgot-grid ul li {
  list-style: none;
  display: inline-block;
}
.forgot-grid ul li input[type="checkbox"] {
  display: none;
}
.forgot-grid ul li input[type="checkbox"]+label {
  position: relative;
  padding-left: 31px;
  border: aliceblue;
  color: #353535;
  display: inline-block;
  cursor: pointer;
  font-size: .75em;
  font-weight: normal;
  text-transform: uppercase;
}
.forgot-grid ul li input[type="checkbox"]+label span:first-child {
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 2px solid #C8C8C8;
  position: absolute;
  left: 0;
  bottom: 4px;
  top:0;
}
.forgot-grid ul li input[type="checkbox"]:checked+label span:first-child:before {
  content: "";
  background: url(../images/tick.png)no-repeat;
  position: absolute;
  left: 1px;
  top: 2px;
  font-size: 10px;
  width: 10px;
  height: 10px;
}
/*-- responsive-start-here --*/
@media (max-width:1440px){
  ul.callbacks_tabs.callbacks2_tabs {
    left: 45%;
  }
  .banner-bottom {
   left: 9%;
 }
}
@media (max-width:1366px){
  .banner-bottom {
    left: 7%;
  }
  ul.callbacks_tabs.callbacks2_tabs {
    left: 44%;
  }
}
@media (max-width:1280px){
  .banner-bottom {
    left: 3%;
  }
}
@media (max-width:1080px){
  .top-header-right {
    width: 35%;
  }
  .information-grid-info h4, .team-grid h4 {
    font-size: 1.5em;
  }
  
  ul.callbacks_tabs.callbacks2_tabs {
    left: 42%;
  }
  .contact-form input[type="text"] {
    width: 31.6%;
  }
  .grid figure h3 {
    font-size: 1.2em;
  }
  .login-body {
    width: 45%;
  }
  .logo a img {
    width: 100%;
  }
  .top-nav ul li a {
    padding: 1.6em;
  }
}
@media (max-width:1024px){
  .banner-bottom {
    left: 2%;
  }
  .login-body {
    width: 55%;
  }
}
@media (max-width:991px){
  .top-header-left {
    width: 64%;
  }
  .top-header-right {
    width: 36%;
  }
  .top-nav ul li a {
    padding: 1.2em;
  }
  .logo {
    width: 140px;
  }
  .banner {
    padding: 3em 0 8em;
  }
  .slider-info {
    margin: 3em 0 0 0;
  }
  .more-button {
    margin: 4em 0 1em 0;
  }
  .banner-bottom-left {
    float: left;
    width: 50%;
    padding: 1.5em;
  }
  .banner-bottom {
    position: inherit;
    padding: 3em 0;
  }
  .left-border-info {
    width: 45%;
    left: 18%;
  }
  .left-border-info p {
   font-size: 1.5em;  
 }
 .left-border {
  height: 170px;
}

.information {
  padding: 0em 0 4em 0;
}
.information-heading p, .popular-heading p, .about-heading p, .codes-heading p, .gallery-heading p, .blog-heading p, .contact-heading p {
  width: 100%;
}
.information-grid {
  margin-bottom: 1em;
}
.information-grid:nth-child(3){
  margin-bottom:0;
}
.popular-slide-info h4 {
  font-size: 4em;
}
.popular-slide-info p {
  width: 66%;
}
.popular-slide-info {
  background: url(../images/9.jpg) no-repeat 0px -49px;
}
ul.callbacks_tabs.callbacks2_tabs {
  top: 60%;
  left: 39%;
}
.popular-grid p {
  margin: 1em 0 0 0;
}
.popular-grid {
  margin-bottom: 1em;
}
.popular-grid:nth-child(3) {
  margin-bottom: 0;
}
.footer-nav:nth-child(2){
  margin:2em 0;
}
.team-grid {
  float: left;
  width: 33.33%;
}
.information-grid-info h4, .team-grid h4 {
  font-size: 1.4em;
}
ul.dropdown-menu {
  top: 4.5em;
}
.dropdown-menu > li > a {
  padding: 3px 33px !important;
}
.gallery-grid {
  width: 50%;
  float: left;
  margin-bottom: 1em;
}
.Categories {
  margin: 2em 0 0 0;
}
.comments-left {
  width: 20%;
  float: left;
}
.comments-right {
  float: left;
}
.comments {
  margin: 2em 0 0 0;
}
.comments h3 {
  margin: 0 0 0em 0;
}
.address {
  margin: 2em 0 0;
}
.address-grids{
  margin:0 0 1em 0;
}
.contact-infom {
  margin: 1em 0 0 0;
}
.contact-form input[type="text"] {
  width: 30.6%;
}
.top-header-left p {
  font-size: .7em;
  margin: 0.5em 0 0 13em;
}
.slider-info h3 {
 font-size: 3em;
}
}
@media (max-width:800px){
  ul.callbacks_tabs.callbacks2_tabs li {
    display: inline-block;
    margin: 0;
  }
  ul.callbacks_tabs.callbacks2_tabs {
    left: 46%;
  }
}
@media (max-width:768px){
  .slider-info h3 {
    font-size: 3em;
  }
  .callbacks_tabs {
    top: 112%;
    right: 47%;
  }
  .banner {
    padding: 3em 0 6em;
  }
  .popular-slide-info {
    background: url(../images/9.jpg) no-repeat 0px 0;
    min-height: 360px;
    background-size: cover !important;
  }
  .popular-slide1 {
    background: url(../images/10.jpg) no-repeat 0px 0px !important;
    background-size: cover !important;
  }
  .popular-slide2 {
    background: url(../images/11.jpg) no-repeat 0px 0px !important;
    background-size: cover !important;
  }
}
@media (max-width:736px){
  .logo {
    width: 140px;
    top: 18px;
  }
}
@media (max-width:667px){
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form input[type="email"] {
    width: 100%;
    margin: 0 0em 1em 0;
  }
  .login-icons ul li {
    display: inline-block;
    margin: 0 0.2em;
  }
}
@media (max-width:640px){
  .top-header-left p {
   margin: 0.5em 0 0 14em;
 }
 .top-header-left p {
  font-size: .6em;
}
.top-header-right-info ul li {
  margin: 0 .1em;
}
.logo {
  width: 131px;
}
.top-nav ul li {
  display: block;
  margin: 0;
  float: none;
}
.top-nav ul {
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-nav > li > a {
  text-align: center;
  border: none;
  box-shadow: 0 0 0;
}
.top-nav ul li a {
  padding: 1em 0;
}
.caret {
  margin-left: 6px;
}
.slider-info h3 {
 font-size: 2em;
 line-height: 1.5em;
}

.information-heading h3, .popular-heading h3 {
  font-size: 2em;
}
.popular-slide {
  margin: 2em 0 0 0;
}
.popular-slide-info p {
  width: 86%;
}
ul.callbacks_tabs.callbacks2_tabs {
  left: 45%;
}
.about-heading h2, .codes-heading h2, .gallery-heading h2, .blog-heading h2, .contact-heading h2 {
  font-size: 2em;
}
.information-grid-info h4, .team-grid h4 {
  font-size: 1.1em;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  text-align: center;
}
.grid figure figcaption {
  padding: 1em;
}
.contact-form input[type="text"] {
  width: 100%;
}
.contact-form input[type="email"] {
  width: 100%;
  margin: 0 0 1em 0;
}
.login-heading {
  padding: 2em 0em;
}
.login-body {
  width: 63%;
}
.bs-glyphicons li {
  float: left;
  width: 47%;
}
.left-border-info {
  width: 45%;
  left: 18%;
}
}
@media (max-width:480px){
  .logo {
    width: 163px;
  }
  .top-header-left p {
    margin: 0.5em 0 0 18em;
  }
  .top-header-right {
    width: 23%;
  }
  .slider-info {
    margin: 2em 0 0 0;
  }
  .slider-info p {
    font-size: .9em;
  }
  .more-button {
    margin: 3em 0 1em 0;
  }
  .more-button a {
    padding: .5em 2em;
  }
  .callbacks_nav {
    width: 32px;
  }
  .banner-bottom-left {
    float: none;
    width: 100%;
  }
  .banner-bottom-right{
    margin:1em 0 0 0;
  }
  .left-border-info {
    width: 30%;
    left: 23%;
    top: 22%;
  }

  .information-grids {
    margin: 3em 0 0 0;
  }
  .information-heading p, .popular-heading p, .about-heading p, .codes-heading p, .gallery-heading p, .blog-heading p, .contact-heading p {
    font-size: .9em;
  }
  .popular-slide-info h4 {
    font-size: 3em;
  }
  .popular-slide-info {
    min-height: 340px;
  }
  .border {
    width: 10%;
  }
  ul.callbacks_tabs.callbacks2_tabs {
    left: 42%;
    top: 53%;
  }
  .banner-bottom {
    padding: 2em 0;
  }
  .popular {
    padding: 2em 0;
  }
  .footer {
    padding: 2em 0;
  }
  .about, .codes, .gallery, .blog, .contact, .login {
    padding: 2em 0 0 0;
  }
  .team {
    padding: 2em 0;
  } 
  .team-grid {
    float: none;
    width: 100%;
  }
  .information-grid-info h4, .team-grid h4 {
    font-size: 1.3em;
  }
  .gallery-grid {
    width: 100%;
    float: none;
  }
  .media-left.response-text-left {
    width: 22%;
  }
  .login-body {
    width: 85%;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  .left-single {
    padding-right: 0;
  }
}
@media (max-width:414px){
  .logo {
    width: 110px;
   position: none;
   float: left;
 }
 .navbar-toggle {
  margin-top: 21px;
  margin-right: 0;
}
.top-header-left {
  width: 43%;
}
.top-header-left p {
  margin: 0.5em 0 0 0em;
}
.top-header-right {
  width: 54%;
}
.banner {
  padding: 2em 0 5em;
}



.callbacks_nav {
  top: 74%;
}
.slider h2 {
  font-size: 1.5em;
}
.slider-info p {
  width: 90%;
  margin: 0 auto;
}
.more-button a {
  padding: .5em 2em;
  font-size: .8em;
}
.left-border-info {
  width: 36%;
}
ul.callbacks_tabs.callbacks2_tabs {
  left: 41%;
}
.top-nav ul li a {
  padding: .5em 0;
}
.login-heading {
  padding: 1em 0em;
}
.login-info {
  padding: 2em 1.5em 1em;
}
.login-icons ul li {
  margin: 0 0.2em;
}
nav.navbar.navbar-default {
  width: 70% !important;
  float: right !important;
}
.callbacks_tabs {
  top: 101%;
  right: 42%;
}
}
@media (max-width:384px){
  nav.navbar.navbar-default {
    width: 66% !important;
  }
  .left-border-info {
    width: 40%;
  }
  ul.callbacks_tabs.callbacks2_tabs {
    left: 35%;
  }
}
@media (max-width:320px){
  .top-header-right {
    width: 35%;
  }
  .top-header-left {
    width: 54%;
  }
  .border {
    margin: 7px auto 0;
  }
  .slider-info h3 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .callbacks_nav {
    top: 43%;
    width: 20px;
  }
  .more-button {
    margin: 1.5em 0 1em 0;
  }
  .callbacks_tabs {
    top: 103%;
    right: 41%;
  }
  .banner {
    background: url(../images/2.jpg) no-repeat -206px 0px;
    background-size: cover;
    padding: 2em 0 3em;
  }
  .left-border-info p {
    font-size: 1.3em;
  }
  .left-border-info {
    width: 42%;
  }
  .left-border {
    height: 124px;
  }

  .information-heading h3, .popular-heading h3 {
    font-size: 1.5em;
  }
  .information-grid-info {
    padding: 1em;
  }
  .information-grid-info p, .team-grid p {
    font-size: .8em;
  }
  .information-grid-info h4, .team-grid h4 {
    font-size: 1.2em;
  }
  .popular-slide-info h4 {
    font-size: 2em;
  }
  .popular-slide-info p {
    width: 95%;
  }
  .popular-slide-info p {
    font-size: .8em;
  } 
  .popular-slide-info {
    min-height: 289px;
  }
  ul.callbacks_tabs.callbacks2_tabs {
    top: 50%;
  }
  .popular-grids {
    margin: 4em 0 0 0;
  }
  .popular-grid h5 {
    font-size: 1.2em;
  }
  .popular-grid p {
    font-size: .8em;
  }
  .footer-nav h4 {
    font-size: 1.3em;
  }
  .footer-nav ul li a {
    font-size: .8em;
  }
  .news-grid h6 {
    font-size: .8em;
  }
  .copyright p {
    font-size: .8em;
  }
  .top-nav ul li a {
    font-size: .875em;
  }
  .about-heading h2, .codes-heading h2, .gallery-heading h2, .blog-heading h2, .contact-heading h2 {
    font-size: 1.5em;
  }
  .information-heading p, .popular-heading p, .about-heading p, .codes-heading p, .gallery-heading p, .blog-heading p, .contact-heading p {
    font-size: .8em;
  }
  .about-bottom p {
    font-size: .8em;
  }
  .blog-top-grids {
    margin: 2em 0 0 0;
  }
  .blog-left-left p {
    font-size: .8em;
  }
  .blog-left-right a {
    font-size: 1em;
  }
  .blog-left-right p {
    font-size: .8em;
  }
  .blog-left {
    margin: 0em 0 1em 0;
  }
  .Categories ul li a {
    font-size: .8em;
  }
  .Categories h3 {
    margin: 0 0 .5em 0;
  }
  .media-left.response-text-left {
    width: 26%;
  }
  .opinion form input[type="text"] {
    font-size: .8em;
  }
  .opinion form textarea {
    font-size: .8em;
  }
  .map iframe {
    height: 180px;
  }
  .address p {
    font-size: 0.8em;
  }
  .contact-infom p {
    font-size: 0.8em;
  }
  .navbar-toggle {
    margin-top: 24px;
    font-size: .8em;
  }
  .login-heading h1 {
    font-size: 1.2em;
  }
  .login-body {
    width: 100%;
  }
  .login-info input[type="text"], .login-info input[type="password"] {
    font-size: 0.8em;
  }
  nav.navbar.navbar-default {
    width: 59% !important;
  }
} 

.header-gallery{
  margin: 0 0px 15px 15px;
  background: #fff7b1;
  padding: 10px 0 10px 5px;
}

.n{
  width: 100%;
  padding: 0;
}

.modal-body img{
  object-fit: contain;
  height: 400px;
  background: #212121e6;
}

.modal-content{
  background: #000c;
  color: white;
}

.no-padding{
  padding: 0;
}
.modal-left{
  margin-left: 50px;
}
.modal-right{
  margin-right: 50px;
}
.modal-button{
  background: transparent;
  border: 1px solid gray;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px #262626;  
  margin-bottom: 30px;
}

.modal-button:hover{    
  background: #575656;
  border: 1px solid #575656;
  padding: 10px 20px;
  box-shadow: 1px 1px 3px black;
  color: white;
}

 @media (min-width: 318px) and (max-width: 480px) 
{


.about-one-wrap .about-one-con {
    margin: auto;
    padding: 0;
    height: auto;
    color: #fff;
    text-align: justify;
    line-height: 30px;
    background: #00000040;
}
.about-one-wrap .about-one-block {
    float:none;
     width: 280px;
}
.about-one-wrap .about-one-block h2 {
    margin: 0px 0 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
}
.about-one-img {
    float: right;
    margin: -82px 0px;
    height: 400px;
    display: none!important;
}
.team .img1
{
    display: none;
}
.img2
{
      width: 100%;
      display: block;
}

}